<h1>WELCOME TO AMAZON</h1>
<div style="border: 0px solid black; width: 73%; display: inline-block;">
    <div style="float: left;"><%= link_to 'New Product', new_product_path %></div>
    <div style="float: right;">search : </div>
</div>
<p></p>
<!-- <h3>Title :<%#= .title %> was added succesfully</h3> -->
<div style="display:block;">
  <table border="1" style="margin: auto;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Descripton</th>
        <th colspan="2"></th>
      </tr>
    </thead>

  <% @q.each do |prod| %>
    <tr>
      <td><%= prod.id %></td>
      <td><%= link_to prod.title, product_path(prod.id) %></td>
      <td><%= number_to_currency(prod.price, unit: "£") %></td>
      <td><%= prod.desc %></td>
      <td><%= link_to 'Edit', edit_product_path(prod.id) %></td>
      <td><%= link_to "Delete", product_path(prod.id),
                    method: :delete,
                    data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<br>
<div>
  page: <%= @page %>
  <br>total_pages: <%= @total_pages %>
</div>
<div>
  <%= render "paginate" %>
  <%#= paginate @q %>
</div>
