<h1>Product Title: <%= @q.title %></h1>
<p>Product Price: <%= @q.price %></p>
<p>Product Description: <%= @q.desc %></p>
<% if @q.user %>
  <p>
    Created by:
    <%= @q.user.full_name %>
  </p>
<% end %>


<%#= link_to " E D I T ", edit_question_path(@q), class: "btn btn-info btn-lg glyphicon glyphicon-align-left" %>
<%#= link_to "Delete", question_path(@q), class: "btn btn-danger btn-xs",
            method: :delete,
            data: {confirm: "Are you sure?"} %>
<hr>
<h2>Submit an Comment:</h2>
<%# url: question_answers_path(@q) will override the default @answer path to the url %>
<%# form_for @answer, the action will be answers_path if @answer is not persisted in
    the database (meaning it's just Answer.new)
    if @answer is persisted, the action will be: answer_path(@answer) %>
<%#= form_for @answer, url: question_answers_path(@q) do |f| %>

<%# another way that result the same as above is this line below %>
<% if @comment.errors.any? %>
  <%= @comment.errors.full_messages.join(", ") %>
<% end %>

<%= form_for [@q, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<br>
<hr>
Comments :
<% @comments.each do |p| %>
<%# @q.answers.each do |answer| %>
  <p>
    <%= p.body %>
  </p>
<% end %>
