<%#= @post.inspect %>
<div class="well">
  <h1 class="lobster text-center"><%= @blog.title %></h1>
  <div class="blog-content margin-top-30">
    <blockquote>
      <%= @blog.created_at.strftime("%B %d, %Y at %I:%M %P") %>
    </blockquote>
    <%= simple_format(@blog.body, {}, :sanitize => false) %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h4><%= @comment_count %> comments:</h4></div>
    <div class="panel-body">
        <div class="comment-list">
          <% @comment.each do |p| %>
          <div class="comment">
            <div class="date-red-sm">
              <%= p.created_at.strftime("%B %d, %Y at %I:%M %P") %>
            </div>
            <div><%= p.body %></div>
          </div>
          <hr>
          <% end %>
        </div>
        <div class="margin-top-30"></div>
        <!--  input comments -->

        <%= form_tag comments_path do %>
          <div class="form-group">
            <%= text_area_tag(:body, "", rows: "4", class: "form-control", placeholder: "Enter your comment ...", ) %>
            <%= hidden_field_tag(:postid, @blog.id) %>
          </div>
          <div class="form-group">
              <%= submit_tag("Submit comment", class: "btn btn-primary btn-sm") %>
          </div>
        <% end %>

    </div>
  </div>

</div>
