
  <section id="home">
    <div id="info">
      <div id="info-content">
        <p class="lobster font-42"><strong>the sound of life</strong></p>
        <p>“People will forget what you said, people will forget what you did,<br>but people will never forget how you made them feel.”</p>
        <i class="fa fa-angle-down fa-2x"></i>
      </div>
    </div>
    <a href="#blog-list">
      <div class="scroll-down">
        <span>
            <i class="fa fa-angle-down fa-2x"></i>
        </span>
      </div>
    </a>
  </section>

  <a name="blog-list"></a>
  <!-- Main Content -->
  <div class="container top-100">
          <div class="col-lg-7 col-lg-offset-3 col-md-8 col-md-offset-4 top-30">

            <% @blogs.each do |blog| %>
              <div class="post-preview">
                <div class="post-date text-center">
                  <div class="date">
                    <span class="day"><%= blog.created_at.strftime("%d") %></span>
                    <span class="month"><%= blog.created_at.strftime("%b").upcase %></span>
                  </div>
                  <div class="post-fav">
                    <i class='fa fa-heart color-77'></i> <%= blog.favorites.count %>
                  </div>
                </div>
                <div class="post-content">
                  <h2 class="post-title"><%= link_to blog.title, blog_path(blog) %></h2>
                  <div class="post-meta-info">
                    Posted by <%= blog.user.username %> <span class="margin-left-right"> | </span><%= pluralize(blog.comments.count, "Comment") %>
                  </div>
                  <%= (strip_tags(blog.body)).split.first(30).join(' ').html_safe %> ...
                </div>
              </div>
              <hr>
            <% end %>

              <!-- Pager -->
              <ul class="pager">
                <!-- <li class="next"><a href="#">Older Posts &rarr;</a></li> -->
                <li class="prev"><%= link_to_previous_page @blogs, "Newer Posts" %></li>
                <li class="next text-right"><%= link_to_next_page @blogs, "Older Posts" %></li>
              </ul>



              <!-- 222 -->
              <!-- <div class="text-center">
                <%#= paginate @blogs %>
              </div> -->

          </div>
  </div>
